.center-content {
    text-align: center;
    color: #dedede;
    flex-direction: column;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center
}
.btn-login-color {
    background-color: rgb(100, 100, 255) !important;
    border: none !important;
    color: #dedede;
    border-radius: 5px;
    width: 120px;
}